:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.quiz-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}

.quiz-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.loc-name {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.quiz-image {
  border-radius: 5px;
  border-style: solid;
}

.quiz-label {
  font-weight: 600;
  font-size: 20px;
}

.quiz-radio {
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 28%;
  transform: scale(1.5);
  cursor: pointer;
}

.quiz-button {
  margin-top: 20px;
}

#localStorage {
  position: fixed;
  text-align: center;
  left: 15%;
  top: 30%;
  background-color: #333;
  color: #fff;
  padding: 7px 3px 7px 3px;
  border-radius: 5px;
}

.correct {
  color: #00ff00;
  font-size: 18px;
  font-weight: bold;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 7px 3px 7px 3px;
}

.incorrect {
  color: rgb(243, 35, 35);
  font-size: 18px;
  font-weight: bold;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 7px 3px 7px 3px;
}

.unanswered {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 7px 3px 7px 3px;
}

#difficultySelect {
  position: fixed;
  right: 5%;
  top: 30%;
  background-color: #333;
  color: #fff;
  padding: 7px 5px 7px 5px;
  border-radius: 5px;
}

.difficulty-radio {
  margin-right: 10px;
  margin-bottom: 10px;
  transform: scale(1.5);
  cursor: pointer;
}

.difficulty-label {
  font-weight: bold;
  font-size: 20px;
}